body, html {
  background: no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;


}


.btn-secondary {
  color: #eee !important;
  background-color: #eee;
  border-color: #eee;
}

.btn-secondary:hover {
  color: #ffe6ee !important;
  background-color: #ffe6ee;
  border-color: #ffe6ee;

}
